/* Table scss */
/*table {
  counter-reset: rowNumber;
}

.bookingData {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}
*/
/* end of table scss */

.package-page .search-form-opened{
	margin-left: auto !important;
}

@media (max-width: 768px){
	.package-page .search-form-opened{
	    margin-left: 0 !important;
		margin-right: auto !important;
	}
}