<div class="booking-edit-page page-content-wrapper">
    <div class="page-content">
        <div class="container">
            <app-page-top-bar></app-page-top-bar>
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="card-box">
                        <div class="card-head">
                            <a routerLink="/booking" id="panel-button" class="mdl-button mdl-button--icon collapsed">
                              <i class="material-icons">arrow_back_ios</i>
                            </a>
                            <header>Edit Package Booking</header>
                            <button id="panel-button" class="mdl-button mdl-js-button mdl-button--icon pull-right collapsed" data-target=".mdl-button-collapse" data-toggle="collapse" aria-expanded="false">
                            </button>
                        </div>
                        <div class="card-body row">
                            <form id="bookingEditForm" class="bookingEditForm" name="bookingEditForm" [formGroup]="updateForm">
                                <input type="hidden" value="" name="id" />
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <input class="form-control" formControlName="contact_name" type="text" id="txtFirstName" #contact_name
                                        [ngClass]="{
                                        'is-invalid' : updateForm.get('contact_name').touched && updateForm.get('contact_name').invalid,
                                        'is-valid' : updateForm.get('contact_name').touched && updateForm.get('contact_name').valid
                                        }"
                                        >
                                        <label class="mdl-textfield_label">Full Name*</label>
                                        <div class="invalid-feedback">Full name is required</div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <input class="form-control" formControlName="lastname" type="text" id="txtLasttName">
                                        <label class="mdl-textfield_label">Last Name</label>
                                    </div>
                                </div> -->
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <input class="form-control" formControlName="mobile" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="mobileNumber" #mobile
                                        [ngClass]="{
                                        'is-invalid' : updateForm.get('mobile').touched && updateForm.get('mobile').invalid,
                                        'is-valid' : updateForm.get('mobile').touched && updateForm.get('mobile').valid
                                        }">
                                        <label class="mdl-textfield_label" for="text5">Mobile Number*</label>
                                        <div class="invalid-feedback">Mobile number is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                      <input class="form-control" formControlName="contact_email" type="email" id="contact_email" #contact_email
                                      [ngClass]="{
                                        'is-invalid' : updateForm.get('contact_email').touched && updateForm.get('contact_email').invalid,
                                        'is-valid' : updateForm.get('contact_email').touched && updateForm.get('contact_email').valid
                                        }">
                                      <label class="mdl-textfield_label">Email*</label>
                                      <div class="invalid-feedback">Email address is required</div>
                                  </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <input class="form-control" formControlName="no_of_adult" type="number" pattern="-?[0-9]*(\.[0-9]+)?"  id="no_of_adult" #no_of_adult
                                        [ngClass]="{
                                        'is-invalid' : updateForm.get('no_of_adult').touched && updateForm.get('no_of_adult').invalid,
                                        'is-valid' : updateForm.get('no_of_adult').touched && updateForm.get('no_of_adult').valid
                                        }">
                                        <label class="mdl-textfield_label">Adult*</label>
                                        <div class="invalid-feedback">Adult number is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <input class="form-control" formControlName="no_of_children" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="no_of_children" #no_of_children>
                                        <label class="mdl-textfield_label">Children</label>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <input class="form-control" formControlName="desired_start_date" type="date"  id="dateArrive" #desired_start_date 
                                        [ngClass]="{
                                        'is-invalid' : updateForm.get('desired_start_date').touched && updateForm.get('desired_start_date').invalid,
                                        'is-valid' : updateForm.get('desired_start_date').touched && updateForm.get('desired_start_date').valid
                                        }">
                                        <label class="mdl-textfield_label">Arrive*</label>
                                        <div class="invalid-feedback">Arrive date is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label txt-full-width is-upgraded" data-upgraded=",MaterialTextfield">
                                        <input class="form-control" formControlName="desired_end_date" type="date" id="dateDepart" #desired_end_date
                                        [ngClass]="{
                                        'is-invalid' : updateForm.get('desired_end_date').touched && updateForm.get('desired_end_date').invalid,
                                        'is-valid' : updateForm.get('desired_end_date').touched && updateForm.get('desired_end_date').valid
                                        }">
                                        <label class="mdl-textfield_label">Depart*</label>
                                        <div class="invalid-feedback">Depart date is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="select-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select_fix-height txt-full-width is-upgraded" data-upgraded=",MaterialTextfield" style="width: 124px;">
                                        <label for="list3" class="mdl-textfield_label floating-label">Package Name*</label>
                                        <select class="custom-select form-control" id="name" #name formControlName="name" aria-placeholder="name"
                                        [ngClass]="{
                                        'is-invalid' : updateForm.get('name').touched && updateForm.get('name').invalid,
                                        'is-valid' : updateForm.get('name').touched && updateForm.get('name').valid
                                        }">
                                            <!-- <option selected>Choose...</option> -->
                                            <option selected disabled [value]=this.name></option>
                                            <option *ngFor="let item of tripname" [value]="item.trip_id">{{ item.name }}</option>
                                          </select>
                                          <div class="invalid-feedback">Trip name is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 p-t-20">
                                    <div class="select-input mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select_fix-height txt-full-width is-upgraded" data-upgraded=",MaterialTextfield" style="width: 124px;">
                                        <label for="list4" class="mdl-textfield_label floating-label">Change Status</label>
                                        <select class="custom-select form-control" id="status" formControlName="status" #status
                                       >
                                            <option selected disabled>Choose.....</option>
                                            <option *ngFor="let item of changeState" [value]="item" id="status">{{ item }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 p-t-20 text-center">
                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised  m-b-10 m-r-20 fill-primary" data-upgraded=",MaterialButton,MaterialRipple" [disabled]="!updateForm.valid"
                                    (click)="updatebooking(contact_name.value, contact_email.value, mobile.value, no_of_adult.value, no_of_children.value, desired_start_date.value, desired_end_date.value, name.value, status.value)" 
                                    >Update<span class="mdl-button_ripple-container"><span class="mdl-ripple"></span></span></button>
                                    <button type="button" class="mdl-button mdl-js-button mdl-button--raised  m-b-10 btn-default" data-upgraded=",MaterialButton,MaterialRipple" [routerLink]="['/booking']" routerLinkActive="router-link-active" >Cancel<span class="mdl-button_ripple-container"><span class="mdl-ripple"></span></span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
