<div class="page-header navbar navbar-fixed-top">
    <div class="page-header-inner ">
        <!-- logo start -->
        <div class="page-logo">
            <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >
                <!-- <img alt="" src="../assets/img/logo.png"> -->
                <span class="logo-default">Smart Holidays
                    <!-- Treks and Expedition -->
                </span>
            </a>
        </div>
        <!-- logo end -->
        <ul class="greeting hidden-phone">
            <li class="nav-item text-success">
                Good Afternoon, <span class="text-dark">Admin</span>
            </li>
        </ul>
    <!--     <form class="search-form-opened" action="#" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." name="query">
                <span class="input-group-btn search-btn">
                      <a href="#" class="btn submit">
                            <i class="material-icons">search</i>
                       </a>
                    </span>
            </div>
        </form> -->

        <!-- start mobile menu -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
            <button>
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
            <!-- <i class="material-icons icon-menu">menu</i> -->
        </a>
        <!-- end mobile menu -->

        <!-- start header menu -->
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a routerLink="/login" (click)="logout()">
                        <!-- <i class="icon-logout"></i>  -->
                        <i class="material-icons icon-logout"> exit_to_app </i>
                        <p>Log Out</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="flex-container">
    <div class="box">
        <app-sidebar></app-sidebar>
    </div>
    <div class="boxTwo">
        <router-outlet></router-outlet>
    </div>
</div>
