.categories-description {
    width: 60%;
}

/* Table scss */
/*table {
  counter-reset: rowNumber;
}

.bookingData {
  counter-increment: rowNumber;
}

table tr td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}*/

/* end of table scss */
